 *{
    margin: 0;
}

.box-6-a a{
  text-decoration: none;
}
.box-4_1 a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}
body{
  overflow-x: hidden;
}
.bhavya{
    width: 350px;
    height: 350px;
    border-radius: 350px;
}
.first-heading{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 60px;
}
.first-heading-para{
  font-size:30px;
}
.logo_pic{
    width:70px;
    height:70px;
}
.box-1{
  width: 50%;
  height:600px;
  margin-left: 12%;
  padding-left: 1.5%;
  vertical-align: top;
  display:inline-grid;
  padding-top: 15%;
}
.box-2{
width: 28%;
margin-left: 0;
padding-top: 10%;
vertical-align: top;
display: inline-grid;
height: 600px;
}
.about p{
font-family: "Roboto Slab";
}
.box-3{
width: 60%;
padding-top: 2%;
margin-left: 12%;
display: inline-grid;
padding-left: 1.3%;
font-size: 20px;
}

.photo{
margin-left: 2%;
margin-top: 8%;
}
.navbar{
  position: fixed;
}
.nav-item{
  font-size: 20px;
  font-weight: 600;
}
.dropdown{
  margin-top: 5px;
}
.container-fluid1{
    margin-left: 80%;
  line-height: 5%;
  margin-top: -5%;
}


.resume-btn{
  height: 40px;
  font-size: 1.5rem;
  border: 2px solid black;
  width: 100px;
  font-family: sans-serif;
}
.navbar-nav {
    margin-left: 70%;
}
.box-8{
width: 60%;
padding-top: 2%;
margin-left: 12%;
display: inline-grid;
padding-left: 1.3%;
font-size: 20px;
}
.box-4, .box-6, .box-7{
  width: 50%;
  margin-left:12%;
  padding-left: 1.3%;
  
}
.box-4_1, .box-7_1,.box-6-b{
  width:50%;

}
.part-4, .part-7, .part-6{
  display:flex;
  margin-top: 100px;
}
.projects_check{
  display:flex;
  width: 60%;
}
.box-5{
 overflow-x: hidden;
padding-top: 2%;
margin-left: 12%;
display: inline-grid;
padding-left: 1.3%;
font-size: 20px;
 }




.box-7 p{
  width: 50%;
}

.open_source_projects{
  width: 50%;
}




.container-project {
  display: flex;
  
  flex-wrap: wrap;
  margin-right:200px;
  margin-left:-15px;
 
  
  
}
.cards {
  display: flex;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 100%;
 
  
}
@media (min-width: 40rem) {
  .cards {
    width: 70%;
 }
}
@media (min-width: 56rem) {
  .cards {
    width: 50%;
 }
}
.cards .card-item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
}
.cards .card-item:hover {
  cursor: pointer;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.cards .card-item:hover .card-image {
  opacity: 1;
}
.cards .card-info {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
  line-height: 1.5em;
}
.cards .card-title {
  font-size: 25px;
  line-height: 1.1em;
  color: #32325d;
  margin-bottom: 0.2em;
}
.cards .card-image {
  height: 200px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px 6px 0px 0px;
  opacity: 0.91;
}





.github-btn .fa {
font-size: 2rem;
}


  .icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
   .icon-bar a:hover {
    background-color: blue
  }
.insta{
color: black;
  }
.twitter {
color: black;
}
.email {
color: black;
}
.linkedin {
color: black;
}
.github {
color: black;
}
 .insta  .fa {
color:black;
 }
 .email  .fa {
  color:black;
}
.linkedin .fa {
  color:black;
}
.github  .fa {
  color:black;
}
.twitter .fa {
  color:black;
}
.icon-border{
border-left: 3px solid black;
height: 220px;
position:absolute;
left: 45%;
}

.tech{
  display: block;
  flex-wrap: wrap;
  font-size: 1rem;
  padding-bottom: 8%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.icon{
  width: 15%;
  height: 60%;
}
.copy{
  text-align: center;
  font-size: 1.3rem;
}
footer {
margin-top: 10px;
margin-left: 60%;
}
.footer-border{ 
  border-top: 3px solid  black;
  margin-left: 15%;
  width:75%;
  margin-top: 20px;
}
.inbox{
  margin-top: 50px;
}
.connect{
  margin-top: 50px;
}
/* @media only screen and (max-width:1200px)
{
  .box_1{
    margin-left: 15%;
    margin-right:20%;
    width: 65%;
    padding-top: 0;
    height: auto;
    }
} */
@media only screen and (max-width: 996px){
  .icon-border{
    border-left: 3px solid black;
    height: 220px;
    position:absolute;
    left: 45%;
    }
    .icon-bar {
      position: fixed;
      top: 70%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .icon-bar a {
      display: block;
      text-align: center;
      padding: 16px;
      transition: all 0.3s ease;
      color: white;
      font-size: 20px;
    }
    .bhavya{
      width: 300px;
      height: 300px;
      border-radius: 350px;
      margin-top: 50px;
  }
}
@media only screen and (max-width: 845px){
  .bhavya{
    width: 250px;
    height: 250px;
    border-radius: 350px;
    margin-top: 80px;
}
}
@media only screen and (max-width: 800px){
  .box-1{
    margin-left: 20%;
    margin-right:20%;
    width: 65%;
    padding-top: 0;
    height: auto;
    }
    .box-2{
      width: 65%;
      margin-left: 18%;
      margin-right:20%;
      height: auto;
      margin-top: -150px;
    }
    .box-3{
      width: 60%;
      padding-top: 5%;
      margin-left: 20%;
      display: inline-grid;
      padding-left: 1.3%;
      font-size: 20px;
      }
    .bhavya{
      width: 350px;
      height: 350px;
      border-radius: 350px;
   
  }
  .box-4_1, .box-7_1,.box-6-b{
    width:50%;
  
  }
  .part-4, .part-7, .part-6{
    display:flex;
    margin-top: 100px;
  }
  .box-4, .box-6, .box-7{
    width: 50%;
    margin-left:20%;
    padding-left: 1.3%;
    
  }
  .box-8{
    width: 60%;
    padding-top: 2%;
    margin-left: 20%;
    display: inline-grid;
    padding-left: 1.3%;
    font-size: 20px;
    }
    .box-5{
     overflow-x: hidden;
     padding-top: 2%;
     margin-left: 20%;
     
     padding-left: 1.3%;
     font-size: 20px;
      }
}
@media only screen and (max-width: 730px){
  .box-1{
    margin-left: 20%;
    margin-right:20%;
    width: 65%;
    padding-top: 0;
    height: auto;
    }
    .box-2{
      width: 65%;
      margin-left: 18%;
      margin-right:20%;
      height: auto;
      margin-top: -150px;
    }
    .box-3{
      width: 60%;
      padding-top: 5%;
      margin-left: 20%;
      display: inline-grid;
      padding-left: 1.3%;
      font-size: 20px;
      }
    .bhavya{
      width: 350px;
      height: 350px;
      border-radius: 350px;
   
  }
  .box-4_1, .box-7_1,.box-6-b{
    width:50%;
    margin-left: 20%;
    padding-left: 1.3%;
  
  }
  .part-4, .part-7, .part-6{
    display:flex;
    margin-top: 100px;
  }
  .box-4, .box-6, .box-7{
    width: 50%;
    margin-left:20%;
    padding-left: 1.3%;
    
  }
  .box-8{
    width: 60%;
    padding-top: 2%;
    margin-left: 20%;
    display: inline-grid;
    padding-left: 1.3%;
    font-size: 20px;
    }
    .box-5{
     overflow-x: hidden;
     padding-top: 2%;
     margin-left: 20%;
     
     padding-left: 1.3%;
     font-size: 20px;
      }
      .part-4, .part-7, .part-6{
        flex-direction: column;
        margin-top: 100px;
      }
      .box-7 p{
        width: 100%;
      }
}








