/* .part{
width: 1140px;
height: 10095.9px;

margin-top: 50px;

} */
/* .navbar{
    height: 69.5px;
    width: 1268.8;
  

} */
/* .box1{
width: 1110px;
height:721.6px;


margin-top: 80px;  */

 /* width: 50%;
vertical-align: top;
display: inline-grid;
padding-top: 20%;
height:770px;
margin-left: 10%;
padding-left: 2%; 
} */
.me{
font-size: xx-large;
margin-right: 60px;
padding-left: 50px;
width: 50%;
vertical-align: top;
display: inline-grid;
padding-top: 10%;
height:770px;
margin-left: 10%;
padding-left: 2%; 
width:730px;
height:86.4;
margin-top: 150px;
padding-left: 10px;
margin-right: 100px;
} 

/* .box2{
    width: 20%;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 100px;
    margin-left: 700px;
    display: flex;
    flex-direction: row; */
    /* width: 50%;
vertical-align: top;
display: inline-grid;
padding-top: 20%;
height:770px;
margin-left: 10%;
padding-left: 2%;
    */

/* img {
    height: 250px;
    width: 250px;
    border-radius: 200px;
    margin-left: 150px;
    margin-top:300px;
    padding: 30px;
} */
/* .photo{
    width:324px;
    height: 324px;
   margin-left: 700px;
/* margin-block: -250px; */
/* margin-top: -230px;

   
 
  
}
img{
    border-radius: 200px;
} */
/* .me{
    width:730px;
    height:86.4;
    
    margin-top: 150px;
    padding-left: 10px;
    margin-right: 100px;
} */
 
/* .box1{
    width: 50%;
    vertical-align: top;
    display: inline-grid;
    padding-top: 20%;
    height:770px;
    margin-left: 10%;
    padding-left: 2%;
    }
.box2{
    
        width: 25%;
        margin-left: 5%;
        padding-top: 2%;
        vertical-align: top;
        display: inline-grid;
        height:770px;
        
} */
.box1{
width: 50%;
vertical-align: top;
display: inline-grid;
height: 700px;
margin-left: 10%;
padding-left: 2%;
}
.box2{
    width: 25%;
    margin-left: 60%;
    padding-top: 2%;
    vertical-align: top;
    height: 700px;
}
img{
    width: 300px;
    height: 300px;
    border-radius: 300px;
}

    .box-1{
        width: 40%;
        vertical-align: top;
        display: inline-grid;
        padding-top: 10%;
        height:770px;
        margin-left: 10%;
        padding-left: 2%;
        }
        .box-2{
        width: 25%;
        margin-left: 5%;
        padding-top: 10%;
        vertical-align: top;
        display: inline-grid;
        height:770px;
        }
        .intro{
            font-size: 30px;
        }
        .photo{
            margin-left: 10%;
            margin-top: 10%;
        }
        body{
            background-color: rgb(255, 255, 255);
        }

